<section>
    {{#if orders}}
    <div class="container my-5">
        <div class="card p-4 shadow">
            <div class="table-responsive table-bordered">
                <table class="table" id="table">
                    <thead class="table-dark">
                        <tr class="align-middle">
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Donated By</th>
                            <th scope="col">Type</th>
                             <th scope="col">Address</th>
                            <th scope="col">Cancel</th>
                            {{!-- <th scope="col">View Products</th> --}}
                        </tr>
                    </thead>

                    <tbody>
                        {{#each orders}}
                        <tr class="align-middle">
                            <td>{{this.date}}</td>
                            <td>{{this.productDetails.name}}</td>
                            <td>{{this.productDetails.donername}}</td>
                            <td>{{this.productDetails.type}}</td>
                            <td>{{this.productDetails.location}}</td>
                  
                            <td>
                                <a href="/trusts/cancel-order/{{this._id}}"
                                    onclick="return confirm('Are You Sure to Cancel This Order ?')"
                                    class="btn btn-danger">Cancel</a>
                            </td>
                            {{!-- <td>
                                <a href="/view-ordered-products/{{this._id}}" class="btn btn-primary"><i
                                        class="bi bi-eye-fill"></i></a>
                            </td> --}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    <div class="container mt-5">
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">You Don't Have Any Selected Donations</h4>
            <hr>
        </div>
    
    </div>
    {{/if}}
</section>