<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">All Menus</h4>
                <div class="ms-auto text-end">
             <a href="/foodspots/time/add-time" type="button" class="btn btn-primary">Add Time</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Manage</th>

                               
                            </tr>
                        </thead>
                        <tbody>
                            {{#each times}}
                            <tr>
                                <td>{{incremented @index}}</td>
                        
                                <td>{{this.from}} {{this.fromampm}}</td>
                                <td>{{this.to}} {{this.toampm}}</td>
                                <td>
                                    <a href="/foodspots/edit-time/{{this._id}}" class="btn btn-primary"><i class="bi bi-pen"></i></a>


                                    <a href="/foodspots/delete-time/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are You Sure to Delete {{this.type}} ?')"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

                            </tr>
                            {{/each}}



                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



