<section>
    <div class="container mt-2">
        <center>


            <div class="page-wrapper mt-5">
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-lg-16 d-flex no-block ">
                            <h4 class="page-title text-center mb-3">Charity Requests</h4><br>
                        </div>
                        {{!-- <div class="col-lg-16 d-flex no-block ">
                            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Add Item For Donation
                            </button>
                        </div> --}}
                    </div>

                </div>

                <div class="container-fluid" id="req">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Charity Name </th>
                                            <th>Charity Location</th>
                                            <th>Charity Number</th>

                                            <th>Type of food</th>
                                            <th>Quantity</th>
                                            <th>Time of delivery</th>
                                            <th>Date of delivery</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each trustreqs}}
                                        <tr>
                                            <td>{{incremented @index}}</td>
                                            <td>{{this.name}}</td>
                                            <td>{{this.Phone}}</td>
                                            <td>{{this.Address}}</td>

                                            <td>{{this.type}}</td>
                                            <td>{{this.qty}}</td>
                                            <td>{{this.td}}</td>
                                            <td>{{this.dd}}</td>

                                            <td><a href="/tursts/delete-req/{{this._id}}" class="btn btn-danger"
                                                    onclick="return confirm('Are You Sure to Delete {{this.Name}} ?')"><i
                                                        class="bi bi-trash" aria-hidden="true"></i></a></td>

                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </center>

    </div>
</section>