<section>
    {{#if orders}}
    <div class="container my-5">
        <div class="card p-4 shadow">
            <div class="table-responsive table-bordered">
                <table class="table" id="table">
                    <thead class="table-dark">
                        <tr class="align-middle">
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Trust Name</th>
                            <th scope="col">Phone</th>
   

                        </tr>
                    </thead>

                    <tbody>
                        {{#each orders}}
                        <tr class="align-middle">
                            <td>{{this.trustCart.date}}</td>
                            <td>{{this.product.name}}</td>
                            <td>{{this.trustCart.address}}</td>
                            <td>{{this.trustDetails.Orgname}}</td>
                            <td>{{this.trustDetails.Phone}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    <div class="container mt-5">
    <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">You Don't Have Any Orders</h4>
            <hr>
        </div>
    </div>
    {{/if}}
</section>