<section>
    <div class="container mt-2">
        <center>
            {{#if volunteering}}
            <h5>Hi {{volunteering.Name}}, Welcome</h5>
            <div class="page-wrapper mt-5">
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-lg-16 d-flex no-block ">
                            <h4 class="page-title">Details of Donations</h4><br>
                        </div>
            
                    </div>

                </div>

                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Item Name</th>
                                            <th>Item Type</th>
                                            <th>Quantity</th>
                                            <th>Location</th>
                                            <th>Image</th>
                                            <th>Donated By</th>
                                            <th>Trust</th>

                                            {{!-- <th>Edit</th>
                                            <th>Delete</th> --}}

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each products}}
                                        <tr>
                                            <td>{{incremented @index}}</td>
                                            <td>{{this.productDetails.name}}</td>
                                            <td>{{this.productDetails.type}}</td>
                                          <td>{{this.productDetails.quantity}}</td>
                                          <td>{{this.productDetails.location}}</td>


                                            <td><img src="/images/donate-images/{{this.productDetails._id}}.png" alt=""
                                                    style="width: 3rem"></td>
                                            <td>{{this.productDetails.donername}}</td>
                                            <td>{{this.trustDetails.Orgname}}</td>
                                       <td>            <button onclick="accept('{{this._id}}')" class="add-to-cart-btn btn btn-info">Accept</button>
</td>

                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {{else}}
            <h3>Welcome</h3>
            <a href="/trusts/signin" class="btn btn-primary">Login</a>

            {{/if}}
        </center>

    </div>
</section>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/trusts/add-trustreq" enctype="multipart/form-data" method="POST">
                    <div class="mb-3">
                        <label for="" class="form-label">Item Name</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Item Type</label>
                        <input type="text" class="form-control" name="type" required>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Quantity</label>
                                <input type="number" class="form-control" name="quantity" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Price</label>
                                <input type="number" class="form-control" name="Price" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Your Location</label>
                        <input type="text" class="form-control" name="location" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Send Request</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </form>
            </div>

        </div>
    </div>
</div>


  <script>
    function accept(productId) {
    window.location.href = `/volunteers/accept-donation/${productId}`;
    }
  </script>