<section>
    {{#if orders}}
    <div class="container my-5">
        <div class="card p-4 shadow">
            <div class="table-responsive table-bordered">
                <table class="table" id="table">
                    <thead class="table-dark">
                        <tr class="align-middle">
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Pincode</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Status</th>

                        </tr>
                    </thead>

                    <tbody>
                        {{#each orders}}
                        <tr class="align-middle">
                            <td>{{this.orderObject.date}}</td>
                            <td>{{this.orderObject.deliveryDetails.name}}</td>
                            <td>{{this.orderObject.deliveryDetails.address}}</td>
                            <td>{{this.orderObject.deliveryDetails.pincode}}</td>
                            <td>{{this.orderObject.deliveryDetails.mobile}}</td>
                            <td>{{this.orderObject.totalAmount}}</td>
                            <td>{{this.orderObject.paymentMethod}}</td>
                            <td>{{this.orderObject.status}}</td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    <div class="container mt-5">
    <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">You Don't Have Any Orders</h4>
            <hr>
        </div>
    </div>
    {{/if}}
</section>